@font-face {
    font-family: 'MyFont';
    src: url('./Ariandi.ttf') format('ttf'),
        url('./Ariandi.otf') format('otf');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'MyFont';
    background: url('./icon.png');
}